
@use './tailwind.css';
@use './layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './demo/demo.scss';


.layout-menu .p-badge {
    font-size: 0.65rem ; 
    padding: 0 6px;
    height: 1.2rem;
    line-height: 1.2rem;
    min-width: 1.2rem;
    font-weight: 700;
}
